%h1 Offers

- if @offers.empty?
	.no_offers No offers
- else
	- @offers.each do |offer|
		.offer
			.title= offer['title']
			.payout= offer['payout']
			.thumbnail
				= image_tag offer.fetch('thumbnail', {})['lowres']

= link_to 'Back', new_offer_path
